.mole {
  width: 120px;
  height: 100%;
  border-radius: 45% 45% 0 0;
  position: absolute;
  animation: rise 0.3s ease-out;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-image: linear-gradient(to bottom, #634210 82%, transparent);
  z-index: 2;
}

@keyframes rise {
  0% {
    transform: translateX(-50%) translateY(100%);
  }
  100% {
    transform: translateX(-50%) translateY(0%);
  }
}

.eyes {
  width: 100%;
  height: 10px;
  position: relative;
  top: 30px;
}

.eye {
  width: 10px;
  height: 10px;
  background: #513100;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3),
    inset -1px -1px 2px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  position: absolute;
}

.eyes .left {
  left: 30px;
}

.eyes .right {
  right: 30px;
}

.pupil {
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.eye-light {
  width: 2px;
  height: 2px;
  background-color: whitesmoke;
  border-radius: 50%;
}

.nose {
  width: 30px;
  height: 30px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  right: 45px;
  top: 40px;
  z-index: 2;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.lip {
  width: 40px;
  height: 40px;
  background: #fdba95;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  z-index: 1;
}

.mouth .left {
  left: 25px;
}

.mouth .right {
  right: 25px;
}

.teeth {
  position: absolute;
  height: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  top: 80px;
}

.tooth {
  width: 5px;
  height: 15px;
  background-color: #fff;
  border-radius: 35%;
  position: absolute;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.teeth .left {
  left: 50px;
}

.teeth .right {
  right: 50px;
}

.mustache {
  width: 20px;
  height: 1px;
  background-color: #1b1b1b;
  position: absolute;
  border-radius: 50%;
  box-shadow: 1px 0 0.5px rgba(0, 0, 0, 0.3);
}

.right .top {
  rotate: -45deg 0;
  right: 0;
  top: 5px;
}

.left .top {
  rotate: 45deg 0;
  left: 0;
  top: 5px;
}

.right .middle {
  right: -5px;
  top: 20px;
}

.left .middle {
  left: -5px;
  top: 20px;
}

.right .bottom {
  right: 0;
  bottom: 5px;
  rotate: -135deg 0;
}

.left .bottom {
  left: 0;
  bottom: 5px;
  rotate: 135deg 0;
}
