.mallet {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 15;
  pointer-events: none;
  background-image: url("../../../assets/images/mallet.png");
  background-repeat: none;
  background-size: cover;
}
