.tint {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(2, 121, 157, 0.40);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.popup {
    width: 500px;
    border: #0A3442 25px solid;
    border-radius: 64px;
    background-color: #02799D;
    outline: #FFF solid 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 48px;
    padding: 36px;
}

.lilita-one-font {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.title {
    text-align: center;
    font-size: 42px;
    color: #FFF;
}

.subtitle {
    text-align: center;
    font-size: 36px;
    color: #FFF;
}

.start-button {
    font-size: 24px;
    padding: 18px 36px;
    background-color: #E17E1D;
    border: 1px solid #000;
    border-radius: 50px;
}
