.main-box {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.board {
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  gap: 24px;
  padding: 30px;
  cursor: url("./assets//images/mallet.png") 35 35, auto;
}

.board:active {
  cursor: url("./assets//images/mallet-tilted.png") 35 35, auto;
}

.sound-button {
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 10;
  background: none;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
}

button, .inherit-cursor {
  cursor: pointer;
}